:root {
  --fc-small-font-size: .80em;
  --fc-event-bg-color: #3f51b5;
  --fc-event-border-color: #3f51b5;
  --fc-event-text-color: #ffffff;

  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: #ddd;

  --fc-button-text-color: #fff;
  --fc-button-bg-color: #364354;
  --fc-button-border-color: #364354;
  /* Additional changes can be made on following variables;
  --fc-button-hover-bg-color: #1e2b37;
  --fc-button-hover-border-color: #1a252f;
  --fc-button-active-bg-color: #1a252f;
  --fc-button-active-border-color: #151e27;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);
  --fc-now-indicator-color: red;
 */
}

full-calendar{
  .fc-scroller {
    color: #364354;
    font-family: "Oswald";
    font-weight: 600;
  }
  .fc-toolbar.fc-header-toolbar {
    color: #364354;
    font-family: "Oswald";
    font-weight: 600;
  }
  .fc-toolbar-title{
    color: #364354;
    font-family: "Oswald";
    font-weight: 600;
  }
  .fc-event-title {
    font-family: "Oswald";
    font-weight: 100;
  }
  .fc-event-time{
    font-family: "Oswald";
    font-weight: 200;
  }
  .fc-button{
    padding: 5px;
  }
}
