<div class="container">
  <mat-card class="grid-container">
    <ng-container id="days">
      <span class="days-monday centered black-border">Monday</span>
      <span class="days-tuesday centered black-border">Tuesday</span>
      <span class="days-wednesday centered black-border">Wednesday</span>
      <span class="days-thursday centered black-border">Thursday</span>
      <span class="days-friday centered black-border">Friday</span>
      <span class="days-saturday centered black-border">Saturday</span>
      <span class="days-sunday centered black-border">Sunday</span>
    </ng-container>
    <ng-container id="hours">
      <span class="hours-0-1    centered black-border">00:00 - 01:00</span>
      <span class="hours-1-2    centered black-border">01:00 - 02:00</span>
      <span class="hours-2-3    centered black-border">02:00 - 03:00</span>
      <span class="hours-3-4    centered black-border">03:00 - 04:00</span>
      <span class="hours-4-5    centered black-border">04:00 - 05:00</span>
      <span class="hours-5-6    centered black-border">05:00 - 06:00</span>
      <span class="hours-6-7    centered black-border">06:00 - 07:00</span>
      <span class="hours-7-8    centered black-border">07:00 - 08:00</span>
      <span class="hours-8-9    centered black-border">08:00 - 09:00</span>
      <span class="hours-9-10   centered black-border">09:00 - 10:00</span>
      <span class="hours-10-11  centered black-border">10:00 - 11:00</span>
      <span class="hours-11-12  centered black-border">11:00 - 12:00</span>
      <span class="hours-12-13  centered black-border">12:00 - 13:00</span>
      <span class="hours-13-14  centered black-border">13:00 - 14:00</span>
      <span class="hours-14-15  centered black-border">14:00 - 15:00</span>
      <span class="hours-15-16  centered black-border">15:00 - 16:00</span>
      <span class="hours-16-17  centered black-border">16:00 - 17:00</span>
      <span class="hours-17-18  centered black-border">17:00 - 18:00</span>
      <span class="hours-18-19  centered black-border">18:00 - 19:00</span>
      <span class="hours-19-20  centered black-border">19:00 - 20:00</span>
      <span class="hours-20-21  centered black-border">20:00 - 21:00</span>
      <span class="hours-21-22  centered black-border">21:00 - 22:00</span>
      <span class="hours-22-23  centered black-border">22:00 - 23:00</span>
      <span class="hours-23-24  centered black-border">23:00 - 24:00</span>
    </ng-container>
  </mat-card>
</div>
