@use '@angular/material' as mat;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-card {
    min-width: 350px;
    min-height: 500px;
    width: 25%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #364354;
    border-radius: 15px;
    @include mat.elevation(12, #c4c4c4, 0.8);
    mat-card-title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      text-shadow: 1px 1px #000000;
      margin-bottom: 20px;
      line-height: 25px;
    }
    mat-card-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      form {
        width: 75%;
        display: flex;
        flex-direction: column;
        input{
          color: #364354;
        }

      }
    }

    mat-card-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      button {
        border-radius: 20px;
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 20px;
        border: 2px solid white;
        background-color: white;
        @include mat.elevation(1, #c4c4c4, 0.5);
      }
      button:disabled {
        color: #c4c4c4;
      }
      button:hover {
        @include mat.elevation(5, #c4c4c4, 0.5);
      }
      button:enabled{
        color: #364354;
      }
    }
  }
}
