@use '@angular/material' as mat;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-card {
    min-width: 350px;
    min-height: 550px;
    width: 25%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #364354;
    border-radius: 15px;
    mat-card-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      justify-content: center;
      text-align: center;
      mat-card-subtitle {
        color: white;
        text-shadow: 1.5px 1px #000000;
        margin-bottom: 20px;
        margin-top: 20px;
        line-height: 25px;
      }
    }
    mat-card-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      form {
        width: 75%;
        display: flex;
        flex-direction: column;
        input{
          color: #364354;
        }

      }
    }

    mat-card-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 10px;

      .login-button {
        padding-left: 25px;
        padding-right: 25px;
        background-color: white;
      }
      .login-button:disabled {
        color: #c4c4c4;
      }
      .login-button:enabled{
        color: #364354;
      }
      .language-button {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: white;
        color: #364354;
      }
    }
  }
}
