<div class="container" *transloco="let t; read:'event-display-dialog'">
  <mat-dialog-actions>
    <h1>{{data.title}}</h1>
    <div class="actions-container">
      <mat-chip
        *ngIf="data.hasPoints"
        color="warn"
        highlighted
      >
        {{t('has_points')}}
      </mat-chip>
      <button
        mat-icon-button
        (click)="onClose()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-dialog-actions>
  <mat-dialog-content>
    <h1>{{data.startDate | date}} - {{data.endDate | date}}</h1>
    <h1>{{t("place")}}: {{data.place}}</h1>
    <h1>{{t("organizer")}}: {{data.organizer}}</h1>
    <h1>Link: {{data.link}}</h1>
  </mat-dialog-content>
</div>
