<div class="container" *transloco="let t">
  <mat-dialog-actions>
    <h1>{{data.title}}</h1>
    <div class="actions-container">
      <mat-chip
        *ngIf="data.hasPoints"
        color="warn"
        highlighted
      >
        {{t('Has points')}}
      </mat-chip>
      <button
        mat-icon-button
        (click)="onClose()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-dialog-actions>
  <mat-dialog-content>
    <div>
      <button (click)="switchLanguage('en')">English</button>
      <button (click)="switchLanguage('hu')">Hungarian</button>
    </div>
    <h1>{{data.startDate | date}} - {{data.endDate | date}}</h1>
    <h1>{{t("Place")}}: {{data.place}}</h1>
    <h1>{{t("Organizer")}}: {{data.organizer}}</h1>
    <h1>Link: {{data.link}}</h1>
  </mat-dialog-content>
</div>
