.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-card {
    min-width: 500px;
    min-height: 500px;
    width: 25%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    mat-card-content {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: center;
      form {
        width: 75%;
        display: flex;
        flex-direction: column;
      }
    }

    mat-card-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
