<div class="container" *transloco="let t; read:'registration'">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <img mat-card-image src="../../../../../assets/img/hollo_logo.png" width="100px" height="100px" alt="hollo_logo">
        <h1>{{t("title")}}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="formGroup"
        (keyup.enter)="register()"
      >
        <mat-form-field hideRequiredMarker="true">
          <mat-label>{{t("username")}}</mat-label>
          <input
            matInput
            type="text"
            [formControl]="formGroup.controls.username"
          >
        </mat-form-field>
        <mat-form-field hideRequiredMarker="true">
          <mat-label>{{t("email")}}</mat-label>
          <input
            matInput
            type="text"
            [formControl]="formGroup.controls.email"
          >
        </mat-form-field>
        <mat-form-field hideRequiredMarker="true">
          <mat-label>{{t("password")}}</mat-label>
          <input
            matInput
            [type]="showPassword ? 'text' : 'password'"
            [formControl]="formGroup.controls.password"
          >
          <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{showPassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-container">
        <button
          class="menu-button"
          mat-raised-button
          (click)="navigateToLogin()"
        >
          {{t("back_button")}}
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button
          class="menu-button"
          mat-raised-button
          (click)="register()"
          [disabled]="formGroup.invalid"
        >
          {{t("register_button")}}
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
      <button class="language-button"
              mat-raised-button
              color="primary"
              (click)="changeLanguage()"
      >
        <mat-label>{{currentLanguage}}</mat-label>
        <mat-icon>language</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
