<mat-toolbar color="primary" *transloco="let t; read:'admin-root'">
  <div
    *ngIf="(currentUser$ | async)?.role === roles.SystemAdmin"
    class="menu-group"
  >
    <button mat-icon-button [routerLink]="adminRoutes.Settings">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="adminRoutes.EventDisplay">
      <mat-icon>calendar_today</mat-icon>
    </button>
  </div>
  <h1 class="white">{{t("title")}}</h1>
  <div class="menu-group">
    <button
      class="language-button"
      mat-flat-button
      color="primary"
      (click)="changeLanguage()"
    >
      <mat-icon>language</mat-icon>
      <mat-label>{{currentLanguage}}</mat-label>
    </button>
    <button
      mat-icon-button
      [routerLink]="appRoutes.EventDisplay"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
