<mat-toolbar color="primary">
  <div *ngIf = "(currentUser$ | async)?.role === roles.SystemAdmin">
    <button mat-icon-button [routerLink]="adminRoutes.Settings">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="adminRoutes.EventDisplay">
      <mat-icon>calendar_today</mat-icon>
    </button>
  </div>
  <h1>Holló Event Notifier</h1>
  <button
    mat-icon-button
    [routerLink]="appRoutes.EventDisplay"
  >
    <mat-icon>profile</mat-icon>
  </button>
  <button
    mat-icon-button
    [routerLink]="appRoutes.EventDisplay"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
