mat-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .main-menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    .menu-element {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      min-height: 75%;
      min-width: 120px;
    }
  }

  button {
    border: 2px solid white;
    border-radius: 20px;
    margin: 5px;
  }
}
