/* color: #364354, #FFF531
 "@angular/material/prebuilt-themes/indigo-pink.css"
 */

@use '@angular/material' as mat;

$custom-typography: mat.define-typography-config(
  $font-family: 'Oswald',
  /*$headline-1: mat.define-typography-level(2px, 24px, 600, bold),*/
  /*$headline-2: mat.define-typography-level(2px, 24px, 600, bold),*/
  /*$headline-3: mat.define-typography-level(2px, 24px, 600, bold),*/
  /*$headline-4: mat.define-typography-level(2px, 24px, 600, bold),*/
  /*$headline-5: mat.define-typography-level(2px, 24px, 600, bold),*/
  $headline-6: mat.define-typography-level(
    $font-weight: 600,
    $font-size: 20px,
    $line-height: 1,
    $letter-spacing: 1.5px
  ),
  /*$subtitle-1: mat.define-typography-level(24px, 24px, 600, bold),*/
  /*$subtitle-2: mat.define-typography-level(24px, 24px, 600, bold),*/
  $body-1: mat.define-typography-level(
    $font-weight: 600,
    $font-size: 15px,
    $line-height: 1,
    $letter-spacing: normal
  ),
  /*$body-2: mat.define-typography-level(24px, 24px, bold),*/
  /*$caption: mat.define-typography-level(24px, 24px, bold),*/
  $button: mat.define-typography-level(
    $font-weight: 600,
    $font-size: 15px,
    $line-height: 4,
    $letter-spacing: normal
  ),
);

@include mat.core();
$color-grey-blue: #364354;
$white: #ffff;

$custom-palette: (
  50:  $color-grey-blue,
  100: $color-grey-blue,
  200: $color-grey-blue,
  300: $color-grey-blue,
  400: $color-grey-blue,
  500: $color-grey-blue,
  600: $color-grey-blue,
  700: $color-grey-blue,
  800: $color-grey-blue,
  900: $color-grey-blue,
  contrast: (
    50:  $white,
    100: $white,
    200: $white,
    400: $white,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
  )
);

$primary: mat.define-palette($custom-palette);
$accent: mat.define-palette($custom-palette);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
  ),
  typography: $custom-typography,
));


@include mat.all-component-themes($custom-theme);




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

