name: Validation

on: 
  push:

jobs:
  frontend-test:
    runs-on: ubuntu-latest
    name: Frontend Test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.0

      - name: Install dependencies
        run: npm --prefix frontend install

      - name: Test Frontend with Coverage
        run: |
          cd frontend
          istanbul cover frontend/node_modules/@angular/cli/bin/ng test -- --code-coverage

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

