name: Pull Request Validation

on: 
  push:
  pull_request:
    branches:
    - development
jobs:
  frontend-build:
    name: Frontend Build
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Change to frontend directory
        run: cd frontend
        
      - name: List directory contents
        run: ls

      - name: Install dependencies
        run: npm --prefix frontend install
      
      - name: Build Angular Application
        run: npm --prefix frontend run ng build
