name: Validation

on: 
  push:

jobs:
  frontend-build:
    name: Frontend Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.0

      - name: Install dependencies
        run: npm --prefix frontend install

      - name: Build Angular Application
        run: npm --prefix frontend run build

  backend-build:
    name: Backend Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Build
        run: |
          cd backend
          ./gradlew build
        
  frontend-test:
    runs-on: ubuntu-latest
    needs: frontend-build
    name: Frontend Test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.0

      - name: Install dependencies
        run: npm --prefix frontend install

      - name: Test Frontend with Coverage
        run: npm --prefix frontend run test -- --watch=false --code-coverage=true --browsers=ChromeHeadless

      - run: mkdir -p ./github/coverage_reports
      - run: echo hello > ./github/coverage_reports/backend_coverage_report.xml

      - uses: actions/upload-artifact@v3
        with:
          name: Backend Coverage Report
          path: ./github/coverage_reports/backend_coverage_report.xml


  backend-test:
    needs: backend-build
    name: Backend Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Test Backend
        run: |
          cd backend
          ./gradlew test jacocoTestReport

      - name: Upload Coverage Report Artifact
        uses: actions/upload-artifact@v3
        with:
          name: backend-coverage-report
          path: .github/workflows/coverage.xml
          
          
  sonarcloud:
      name: Sonarcloud
      needs: [backend-test, frontend-test]
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'adopt' # Alternative distribution options are available
      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Download Backend Coverage Report
        uses: actions/download-artifact@v3
        with:
          name: Backend Coverage Report
          path: ./github/coverage_reports/backend_coverage_report.xml
      - name: Build and analyze
        env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          cd backend
          ./gradlew build sonarqube --info -Dsonar.coverage.jacoco.xmlReportPaths=./github/coverage_reports/backend_coverage_report.xml
          
